<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Build Your Commander Deck</title>
</head>

<body>

	<h1>Build Your Commander Deck</h1>

	<h2>{{ commander.name }}</h2>

	<p>
		<strong>Color Identity:</strong>
		{{ commander.color_identity | join(", ") }}
	</p>

	<p>
		<strong>Deck Budget:</strong>
		${{ budget }}
	</p>

	<p>
    <strong>Deck Size:</strong>
    {{ deck_size }} / 100
</p>

<p>
    <strong>Estimated Cost:</strong>
    ${{ "%.2f"|format(deck_cost) }}
    /
    ${{ "%.2f"|format(budget|float) }}
</p>

	<hr>

	<h2>Available Cards</h2>
<h3>Find a Card</h3>

<form action="/search-cards" method="POST">

    <label for="card_search">
        Card Name:
    </label>

    <input
        type="text"
        id="card_search"
        name="card_search"
        placeholder="Example: Sol Ring"
        value="{{ card_search | default('') }}"
        required
    >

    <button type="submit">
        Search Cards
    </button>

</form>

<br>

<h3>Browse by Category</h3>

<form action="/category" method="POST">

    <label for="category">
        Category:
    </label>

   <select
    id="category"
    name="category"
>

    <option value="ramp">
        Ramp
    </option>

    <option value="draw">
        Card Draw
    </option>

    <option value="removal">
        Removal
    </option>

    <option value="board_wipe">
        Board Wipes
    </option>

    <option value="protection">
        Protection
    </option>

</select>

<br>
<br>

<label for="max_price">
    Maximum Card Price: $
</label>

<input
    type="number"
    id="max_price"
    name="max_price"
    min="0.01"
    step="0.01"
    placeholder="5.00"
    value="{{ max_price | default('5.00') }}"
    required
>
<br>
<br>

    <button type="submit">
        Browse
    </button>

</form>

<br>
	<p>
		The following cards are legal with your selected Commander.
	</p>

	{% for card in cards %}

		<div>

			<h3>{{ card.name }}</h3>

			{% if card.image_uris %}

				<img
					src="{{ card.image_uris.small }}"
					alt="{{ card.name }}"
					width="150"
				>

			{% endif %}

			<p>
				<strong>Type:</strong>
				{{ card.type_line }}
			</p>

			<p>
				<strong>Price:</strong>

				{% if card.prices.usd %}
					${{ card.prices.usd }}
				{% else %}
					Price unavailable
				{% endif %}

			</p>

			{% if card.prices.usd %}

<form action="/add-card" method="POST">

    <input
        type="hidden"
        name="card_name"
        value="{{ card.name }}"
    >

    <input
        type="hidden"
        name="card_price"
        value="{{ card.prices.usd }}"
    >

    <button type="submit">
        Add to Deck
    </button>

</form>

{% else %}

<button type="button" disabled>
    Price Unavailable
</button>

{% endif %}

		</div>

		<hr>

	{% endfor %}

	<a href="/">Start Over</a>

</body>

</html>
